<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentMapper">
	<resultMap type="com.example.demo.bean.Student" id="studentResultMap">
		<result column="student_id" property="studentId" jdbcType="VARCHAR" />
		<result column="student_name" property="studentName" jdbcType="VARCHAR" />
		<result column="student_age" property="studentAge" jdbcType="INTEGER" />
		<association column="address_id" property="address" javaType="com.example.demo.bean.Address" select="com.example.demo.dao.AddressMapper.getAddressById"></association>
		<association column="grade_id" property="grade" javaType="com.example.demo.bean.Grade" select="com.example.demo.dao.GradeMapper.getGradeById"></association>
	</resultMap>
	
	<select id="getStudentList" resultMap="studentResultMap">
		SELECT * FROM student
	</select>
	
	<insert id="addStudent" parameterType="com.example.demo.bean.Student">
		INSERT INTO 
		student(student_id,student_name,student_age,address_id,grade_id) 
		VALUES(#{studentId},#{studentName},#{studentAge},#{address.addressId},#{grade.gradeId})
	</insert>
	
	<delete id="deleteStudentById" parameterType="java.lang.String">
		DELETE FROM student WHERE student_id = #{studentId}
	</delete>
	
	<update id="updateStudent" parameterType="com.example.demo.bean.Student">
		UPDATE student 
		SET 
		student_name = #{studentName}, student_age = #{studentAge}, address_id = #{address.addressId}, grade_id = #{grade.gradeId}
		WHERE student_id = #{studentId}
	</update>
	
	<select id="getStudentById" parameterType="java.lang.String" resultMap="studentResultMap">
		SELECT * FROM student WHERE student_id = #{studentId}
	</select>
	
	<select id="getStudentListByGradeId" parameterType="java.lang.String" resultMap="studentResultMap">
		SELECT * FROM student WHERE grade_id = #{gradeId}
	</select>
	
	
	<select id="getStudent" parameterType="com.example.demo.bean.Student" resultMap="studentResultMap">
		SELECT * FROM student WHERE 1 =1 
		<if test="studentName != null and studentName != ''"> AND student_name = #{studentName}</if>
		<if test="studentAge != null and studentAge != 0"> AND student_age = #{studentAge}</if>
	</select>
</mapper>